<div class="user-details">

  <h1>Nedir?</h1>
  <p>925 Türkçe Sözcük için Duyu Normları projesi ana dili Türkçe olan gönüllü katılımcılardan 
   Türkçe isimler için altı duyu (dokunma, işitme, koklama, tatma, görme ve içduyum) ile ilgili veri toplamayı amaçlamaktadır. 
   Daha fazla bilgi için projenin <a href="https://osf.io/m34u7/" target="_blank">OSF</a> ya da <a href="https://www.researchgate.net/project/Sensory-Norms-for-925-Turkish-Nouns" target="_blank">ResearchGate</a> sayfasına göz atabilirsiniz.</p>
  
  <h1>Nasıl Katılabilirim?</h1>
  <p>Çalışmaya şu ana kadar toplam 546 kişi katıldı. Ancak sağlıklı bir analiz için daha fazlasına ihtiyacımız var. 
    Hemen şimdi aşağıdaki bağlantılardan dilediğiniz birine tıklayarak siz de çalışmaya katılabilirsiniz. 
    Aynı anketi birden fazla kez dolduramazsınız ancak birden fazla anketi doldurabilirsiniz. 
    Sözcükler ve duyular arasındaki bağlantıyı daha iyi anlamamıza yardımcı olduğunuz için çok teşekkür ederiz!</p>
  
  <h1>Yeni Listeler</h1>
  <p>Liste 11 https://forms.gle/NdoBXWw7rruaLooS9</p>
  <p>Liste 12 https://forms.gle/nsK6PKtEVFxbprsM9</p>
  <p>Liste 13 https://forms.gle/PfcN64fjQvaE2SMeA</p>
  <p>Liste 14 https://forms.gle/k4dc7hSRWcXVYQHy9</p>
  <p>Liste 15 https://forms.gle/HnDY75CvKWbBZJvH7</p>
  <p>Liste 16 https://forms.gle/VgCE7fvPC79RuAGK9</p>
  <p>Liste 17 https://forms.gle/SsqguBKS615eZHzs6</p>
  <p>Liste 18 https://forms.gle/nb3tinVGVhiYydHH9</p>
  <p>Liste 19 https://forms.gle/11tchpGEqQYnZZNb6</p>
  <p>Liste 20 https://forms.gle/47k5XbhJfEQAV1y66</p>
  
</div>
