<div class="user-details">

  <h1>Nedir?</h1>
  <p>925 Türkçe Sözcük için Duyu Normları projesi ana dili Türkçe olan gönüllü katılımcılardan 
   Türkçe isimler için altı duyu (dokunma, işitme, koklama, tatma, görme ve içduyum) ile ilgili veri toplamayı amaçlamaktadır. 
   Daha fazla bilgi için projenin <a href="https://osf.io/m34u7/" target="_blank">OSF</a> ya da <a href="https://www.researchgate.net/project/Sensory-Norms-for-925-Turkish-Nouns" target="_blank">>ResearchGate</a> sayfasına göz atabilirsiniz.</p>
  <h1>Nasıl Katılabilirim?</h1>
  <p>Hemen şimdi aşağıdaki bağlantılardan dilediğiniz birine tıklayarak şu ana kadar anketleri dolduran 
    <b>240 (17.03.2019)</b> kişiye katılabilirsiniz. Aynı anketi birden fazla kez dolduramazsanız ancak birden fazla anketi doldurabilirsiniz.
    Sözcükler ve duyular arasındaki bağlantıyı daha iyi anlamamıza yardımcı olduğunuz için çok teşekkür ederiz!</p>
    <b>
      <p><a href="https://forms.gle/CcuySUyic7KrSdsP7" target="_blank">Liste 1</a></p>
      <p><a href="https://forms.gle/Xpw2RH3CSQQT2dhJ8" target="_blank">Liste 2</a></p>
      <p><a href="https://forms.gle/XDxXPqteTKvprMpj6" target="_blank">Liste 3</a></p>
      <p><a href="https://forms.gle/FwZTpyy2v1rKkZih7" target="_blank">Liste 4</a></p>
      <p><a href="https://forms.gle/Aj8X9Y3sYMKVgc4u5" target="_blank">Liste 5</a></p>
      <p><a href="https://forms.gle/qg9a1V2BmXxLDtod6" target="_blank">Liste 6</a></p>
      <p><a href=" https://forms.gle/EqGQ875uBarAzp1HA" target="_blank">Liste 7</a></p>
      <p><a href="https://forms.gle/cFHsJCzy14Jx59h9A" target="_blank">Liste 8</a></p>
      <p><a href="https://forms.gle/o52CG2iT8cTMF7hdA" target="_blank">Liste 9</a></p>
      <p><a href="https://forms.gle/FAh1ucTYu49YYeu59" target="_blank">Liste 10</a></p>
    </b>
  </div>
